navbar {

    .navbar {

        width: 100vw;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 99;

        .navbar-wrapper {
            background: white;
            margin: 0 auto;
            width: 100%;
            box-sizing: border-box;
            padding: .85rem 1rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h1 {
               font-size: 1.15rem;
               
               i {
                  color: #1782bf;
               }
            }
        
        }
    }
    .wellcome {
        margin: 3.5rem 0 1rem;

        small {
            color:rgba(0, 0, 0, .65);
            font-size: .75rem;
        }
    }
}
