/* GLOBAL STYLE */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 24px;
    -ms-overflow-style: none;
    scrollbar-width: none;
    user-select: none;
}

*::-webkit-scrollbar {
     display: none;
 }

.app {
    padding: .85rem;
    min-height: 100vh;
    background: white;
    border: 1.5px solid whitesmoke;
}

body {
    background-color: #F4F4F4;
}