@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");
navbar .navbar {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
navbar .navbar .navbar-wrapper {
  background: white;
  margin: 0 auto;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.65rem 1rem;
}
navbar .navbar .navbar-wrapper .icon {
  color: rgba(0, 0, 0, 0.85);
}
navbar .wellcome {
  margin: 2rem 0 1rem;
}
navbar .wellcome small {
  color: rgba(0, 0, 0, 0.65);
  font-size: 0.75rem;
}

.categorys {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: nowrap;
  overflow: scroll;
  gap: 1rem;
}
.categorys span {
  display: block;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.65);
  cursor: pointer;
  transition: 0.3s;
}
.categorys .active {
  color: black;
  font-weight: 600;
}

.card-wrapper {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card-wrapper .card {
  width: 45%;
  border-radius: 10px;
  overflow: hidden;
  background: #e9e8e8;
  border: 1px solid rgba(167, 167, 167, 0.75);
  margin-bottom: 0.75rem;
}
.card-wrapper .card .card-header img {
  max-width: 100%;
}
.card-wrapper .card .card-footer {
  padding: 0.35rem;
  text-align: center;
}
.card-wrapper .card .card-footer a, .card-wrapper .card .card-footer strong {
  text-decoration: none;
  font-size: 0.65rem;
  cursor: pointer;
}

@keyframes modal-active {
  from {
    transform: translateY(350%) scale(0.65);
  }
  to {
    transform: translateY(0) scale(1);
  }
}
.modal-active {
  animation: modal-active 0.45s ease-in forwards;
}

.modal-layer-active {
  opacity: 1 !important;
  z-index: 9999 !important;
}

.modal {
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.65);
  z-index: -9;
}
.modal .modal-wrapper {
  width: 85%;
  margin: 25% auto;
  box-sizing: border-box;
  background: #FFFFFF;
  border-radius: 12px;
  padding: 0.85rem 1rem;
}
.modal .modal-wrapper .modal-description {
  margin-bottom: 1rem;
}
.modal .modal-wrapper .modal-description strong {
  font-size: 0.8rem;
}
.modal .modal-wrapper .modal-description p {
  font-size: 0.65rem;
}
.modal .modal-wrapper .modal-body {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.modal .modal-wrapper .modal-body img {
  width: 40%;
}
.modal .modal-wrapper .modal-footer {
  display: flex;
  gap: 0.55rem;
}
.modal .modal-wrapper .modal-footer button {
  border-radius: 8px;
  padding: 0.35rem;
  font-size: 0.85rem;
  transition: 0.3s ease;
}
.modal .modal-wrapper .modal-footer button:active, .modal .modal-wrapper .modal-footer button:hover {
  border-width: 2.5px;
}
.modal .modal-wrapper .modal-footer .confirm {
  width: 80%;
  background: #43A047;
  color: white;
  border: 1px solid rgba(0, 128, 0, 0.75);
}
.modal .modal-wrapper .modal-footer .close {
  background: none;
  border: 1px solid #C5C5C5;
}

/* Medium screens - TABLET */
@media only screen and (min-width: 40.063em) and (max-width: 64em) {
  .app {
    width: 35vw;
    margin: 0 auto;
  }
  .app .navbar .navbar-wrapper {
    width: 35vw;
  }
}
/* Large screens - DESKTOP */
@media only screen and (min-width: 64.063em) {
  .app {
    width: 30vw;
    margin: 0 auto;
  }

  .navbar .navbar-wrapper {
    width: 30vw !important;
    padding: 0.25rem 0.15rem;
  }
}

/*# sourceMappingURL=index.css.map */
